/*
bruin -> lichtbruin
#9F7D67 #D4BCA7
oranje -> lichtgeel
#ECB280 #FFD299 #FFE097
*/

/*border-box all elements: Borders and padding are drawn inside the set width of your content. The margin is drawn outside.*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.CSSTableGenerator {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #7f0000;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffd299; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
    vertical-align:middle;


    border:1px solid #7f0000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:4px;
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #ecb280 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ecb280), color-stop(1, #7f0000) );
    background:-moz-linear-gradient( center top, #ecb280 5%, #7f0000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecb280", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ecb280,7f0000);

    background-color:#ecb280;
    border:0px solid #7f0000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:18px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #ecb280 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ecb280), color-stop(1, #7f0000) );
    background:-moz-linear-gradient( center top, #ecb280 5%, #7f0000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecb280", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ecb280,7f0000);

    background-color:#ecb280;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
body .lowercase {
    text-transform: capitalize;
}
header{
    background-color: #D4BCA7;
}
section{
    background-color: #FFE097;
    padding: 20px 5px;
    min-height: 500px;
}
footer{
    padding: 10px;
    background-color: #9F7D67;
    color: white;
}
.container {
    margin: 0 auto;
    max-width: 70rem;
    width: 100%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.alwayshalfcolumn{
    float: left;
    width: 50%;
}
.row{
    //is default full width
}
.clearfix {
    *zoom: 1;
}
/* Small screens (default) */
html {
    font-size: 100%;
}
img{
    width: 100%;
}
/*=========================== usefull classes ===========================*/
.centertext{
    text-align: center;
}
input[type=submit]{
    width: 200px;
    position: relative;
    margin-left: -100px;
    left:50%;
}
.center{
    margin: 0 auto;
}
/* Medium screens (640px) */
@media (min-width: 40rem) {
    html {
        font-size: 112%;
    }
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 24.95%; }
    .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
    html { 
        font-size: 120%;
    }
}